<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">

</head>
<body>
<header>

    <nav class="navbar navbar-dark bg-secondary navbar-expand-lg">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="navigation button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainmenu">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/index}" href="index.html"> News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/films}" href="films.html"> Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/series}" href="series.html">Series</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/rankingFilms}" href="rankingFilms.html">
                        Rankings</a>
                </li>

            </ul>

            <form class="form-inline">

                <input class="form-control mr-1" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light" type="submit">Find</button>

            </form>




        </div>


    </nav>

</header>

<main>

    <section class="films">

        <div class="container">

            <div class="row">

                <header>

                    <h1 class="h2 text-center ml-0 mb-4 mt-3 mb-5">Ranking</h1>

                </header>

                <div class="col-sm-12  bg-dark">
                    <table class="table  table-dark">
                        <thead>
                        <th scope="col">Rank</th>
                        <th scope="col">Title</th>
                        <th scope="col">Rating</th>

                        </thead>
                        <tbody>
                        <tr th:remove="all">
                            <td  scope="row">1</td>
                            <td  scope="row">Money Heist</td>
                            <td scope="row">8.1</td>
                        </tr>
                        <tr th:remove="all">
                            <td scope="row">2</td>
                            <td scope="row">Witcher</td>
                            <td scope="row">7.5</td>
                        </tr>
                        <tr   th:each="serie:${series}">
                            <td scope="row" th:scope="row" th:text="${serie.getRank()}">2</td>
                            <td scope="row" th:scope="row" th:text="${serie.getTitle()}" >Emily Rose Exorcism</td>
                            <td scope="row" th:scope="row" th:text="${serie.getRating()}" >7.5</td>
                        </tr>
                        </tbody>
                    </table>

                </div>



            </div>

        </div>

    </section>

</main>











<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>